*.iml
.gradle
.idea
/Knucklebones_server
/app/build
/app/src/debug
/app/src/androidTest
/app/src/test
/app/src/main/java/com/example/knucklebones/functions/Client.kt
/app/src/main/java/com/example/knucklebones/functions/OldClient.kt
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
